{% extends "mailservices/base.html" %}
{% block title %}Информация о рассылке{% endblock %}
{%  include 'mailservices/includes/inc_menu.html' %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h3>Подтверждение удаления</h3>
        <p>Вы действительно хотите удалить рассылку: <strong>{{ object.message }}</strong>?</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Да, удалить</button>
            <a href="{% url 'mailservices:sending_list' %}" class="btn btn-secondary">Отмена</a>
        </form>
    </div>
</div>

{% endblock %}