{% extends "mailservices/base.html" %}

{% block title %}Форма рассылки{% endblock %}
{%  include 'mailservices/includes/inc_menu.html' %}

{% block content %}
    <div class="container-fluid p-4">
            <h2>
                {% if form.instance.pk %}
                    Редактировать рассылку: {{ form.instance.message|default:"Без названия" }}
                {% else %}
                    Создать рассылку
                {% endif %}</h2>
            <div class="row">
                <div class="col-md-3 mb-4">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {{ form.as_p }}  <!-- Отображение полей формы -->
                        <button type="submit" class="btn btn-danger">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}