{% extends "mailservices/base.html" %}
{%  include 'mailservices/includes/inc_menu.html' %}

{% block title %}Профиль пользователя{% endblock %}

{% block content %}

<div class="card">
    <div class="card-body text-center">  <!-- text-center для центрирования -->
        <h3>Профиль пользователя {{ user.username }}</h3>
        <p><strong>Почта:</strong> {{ user.email }}</p>

        <p><strong>Никнейм:</strong> {{ user.username }}</p>
        <p><strong>Номер телефона:</strong> {{ user.phone }}</p>

        <a href="{% url 'users:profile_edit' %}" class="btn btn-warning">Редактировать</a>
        <a href="{% url 'mailservices:attempt_list' %}" class="btn btn-info">Статистика рассылок</a>
    </div>
</div>

{% endblock %}